# Virtual environment
venv/

# Python cache
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/

# Raw data files
# Keep raw CSVs (needed by Streamlit Cloud)
data/raw/*.pkl
data/raw/*.h5
# Ignore processed cache only
data/processed/

# System files
.DS_Store
Thumbs.db

models/

.env